<!-- Navigation nav nav-fill-->
  <nav class="navbar fixed-top navbar-dark bg-dark">

    <div class="container">
      <a class="navbar-brand"
        [routerLink]=" ['/home'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        <h4>Notes</h4>
      </a>

      <!-- Serch input -->
      <form (keyup)="search()">
        <input type="text" placeholder="search" [(ngModel)]="searchText" name="searchText">
      </form>

      <div class="pull-right">
      <!-- Plus icon for adding notes -->
        <a class="nav-item ml-3"
          [routerLink]=" ['/addnote'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          <svg id="i-plus" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2">
            <path d="M16 2 L16 30 M2 16 L30 16" />
          </svg>
        </a>
      </div>
      
    </div>

  </nav>