<!-- Navigation nav nav-fill-->
  <nav class="navbar fixed-top navbar-dark bg-dark">

    <div class="container">
      <a class="navbar-brand"
        [routerLink]=" ['/home'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        <h4>Notes</h4>
      </a>

      <!-- Zooming lens icon -->
      <!-- <a href="#" class="nav-item">
        <svg id="i-search" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2">
          <circle cx="14" cy="14" r="12" />
          <path d="M23 23 L30 30" />
        </svg>
      </a> -->

      <!-- Serch input replacing zoomin lens -->
      <div class="pull-right">

          <input type="text" class="nav-item" (keyup)="onSearch($event)">

      <!-- Plus icon for adding notes -->
        <a class="nav-item ml-3"
          [routerLink]=" ['/addnote'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          <svg id="i-plus" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2">
            <path d="M16 2 L16 30 M2 16 L30 16" />
          </svg>
        </a>
      </div>
      
    </div>

  </nav>