
p {
    height: 50px;
    overflow: hidden;
}

h4 {
    height: 80px;
    overflow: hidden;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: darkgray;
}

a.card-link:hover {
    color: black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    a.card {
        margin-bottom: 10px;
    }
}